body {background-color: #f5f6f7;}
header h1 {text-align: center; padding: 40px 0;}
header h1 a {}
header h1 a img {width: 237px;}
main {}
main #joinFrm {width: 460px; margin: 0 auto;}
main #joinFrm fieldset {border: none;}
main #joinFrm fieldset legend {display: none;}
main #joinFrm fieldset dl {}
main #joinFrm fieldset dl dt {font-size: 0.875rem; font-weight: bold; margin-bottom: 10px;}
main #joinFrm fieldset dl dt span {font-size: 0.875rem;}
main #joinFrm fieldset dl dd {margin-bottom: 10px;}
main #joinFrm fieldset dl dd #num {background-color: #eee; border: 1px solid #aaa;}
main #joinFrm fieldset dl .id {
    border: 1px solid #eee; background-color: #fff; 
    display: flex; flex-flow: row nowrap; align-items: center; padding: 0 10px;
}
main #joinFrm fieldset dl .birth {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main #joinFrm fieldset dl .birth > input, main #joinFrm fieldset dl .birth > select {width: calc(100% / 3 - 5px);}
main #joinFrm fieldset dl .id > input {border: none;}
main #joinFrm fieldset dl .phoneNum {
    display: flex; flex-flow: row nowrap; align-items: center; text-align: center;
}
main #joinFrm fieldset dl .phoneNum > input {}
main #joinFrm fieldset dl .phoneNum > a {
    font-size: 0.75rem; padding: 17px 0;
}
main #joinFrm fieldset dl dd input, main #joinFrm fieldset dl dd select {border: 1px solid #eee; width: 100%; height: 53px; padding: 10px;}
main #joinFrm fieldset dl dd input {}
main #joinFrm fieldset dl dd select {}
main #joinFrm fieldset dl dd select option {}
main #joinFrm fieldset dl dd a {background-color: #03c75a; color: #fff; width: 25%;}
main #joinFrm fieldset button {background-color: #03c75a; color: #fff; border: none; width: 100%; height: 70px; font-weight: bold; font-size: 1.2rem;}
footer {text-align: center; margin-top: 50px;}
footer .link {margin-bottom: 7px;}
footer .link a {font-size: 0.75rem;}
footer address {font-size: 0.75rem;}