body {background-color: #f5f6f7;}
header {text-align: right;}
header #lang {width: 97px; height: 33px; text-align: center;} 
header #lang option {}
header h1 {text-align: center; padding: 40px 0;}
header h1 a {}
header h1 a img {width: 237px;}
main {}
main #loginFrm {border-bottom: #aaa;}
main #loginFrm fieldset {width: 460px; margin: 0 auto; border: none;}
main #loginFrm fieldset legend {display: none;}
main #loginFrm fieldset input {border: 1px solid #ccc; padding: 0 15px;}
main #loginFrm fieldset > input, main #loginFrm fieldset #loginBtn {width: 100%; height: 61px; margin-bottom: 10px;}
main #loginFrm fieldset #id {}
main #loginFrm fieldset #pwd {}
main #loginFrm fieldset #loginBtn {background-color: #03c75a; border: none; color: #fff;}
main #loginFrm fieldset .loginBtm {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
main #loginFrm fieldset .loginBtm #chk {}
main #loginFrm fieldset .loginBtm .btmRight a {}
main #loginFrm fieldset .loginBtm .btmRight a:last-child {}
main #loginFrm fieldset .loginBtm .btmRight a span {color: #03c75a; font-weight: bold;}
main .findJoin {margin: 30px auto; text-align: center; border-top: 1px solid #aaa; padding-top: 20px; width: 460px;}
footer {text-align: center; margin-top: 50px;}
footer .link {margin-bottom: 7px;}
footer .link a {font-size: 0.75rem;}
footer address {font-size: 0.75rem;}