* {}
main {}
main .login {
    background-color: #f7f9fa;
    width: 350px; height: 135px;
    padding: 16px 16px 12px 16px;
    border: 1px solid #dae1e6;
    margin: 100px auto;
}
main .login p {
    font-size: 0.75rem;
}
main .login > a {
    display: block;
    width: 316px; height: 47px;
    background-color: #19ce60;
    color: #fff;
    font-size: 1.063rem;
    margin: 16px 0 12px;
    text-align: center;
    padding: 15px 0;
    font-weight: 800;
}
main .login .loginJoin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .login .loginJoin .idFwFind {}
main .login .loginJoin .idFwFind a {
    font-size: 0.75rem;
}
main .login .loginJoin .join {
    font-size: 0.75rem;
}