main {}
main .loginJoin {
    background-color: #f7f9fa;
    width: 350px; height: 135px;
    padding: 16px 16px 12px 16px;
    border: 1px solid #dae1e6;
}
main .loginJoin p {
    font-size: 0.75rem;
}
main .loginJoin > a {
    display: block;
    width: 316px; height: 47px;
    background-color: #19ce60;
    color: #fff;
    font-size: 1.063rem;
    margin: 16px 0 12px;
    text-align: center;
}
main .loginJoin > .find {}
main .loginJoin > .find > a {font-size: 0.75rem;}
main .loginJoin > .find span {}
main .loginJoin > .find span > a {font-size: 0.75rem;}